$font: "Rubik", sans-serif;

$color-primary: #ed9902;
$color-dark1: #21201e;
$color-dark2: #2d2b29;
$color-white: #ffffff;
$color-body: #1e1e1e;
$color-desc: #9b968b;
$color-gray: #a19a8b;
$color-white-alfa: rgba(255, 255, 255, 0.15);
$color-grad: linear-gradient(180deg, #4d4a45 0%, #292824 100%);

$transition: 0.2s all ease-in-out;
$radius-btn: 5px;
$radius-card: 12px;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
