@import "reset";
@import "vars";
@import "mixins";
@import "base";
@import "blocks/header";
@import "blocks/main-screen";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/customers";
@import "blocks/pricing";
@import "blocks/contacts";
@import "blocks/footer";

.btn {
  padding: 13px 18px;
  display: inline-block;
  border: 0;
  @include text($font, 500, 16px, 19px, $color-white);
  background: $color-primary;
  border-radius: $radius-btn;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background: darken($color-primary, 5%);
  }
}
