.footer {
  background: $color-dark2;
  padding-top: 53.5px;
  padding-bottom: 53.5px;
  max-width: 1440px;
  margin: 0 auto;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
  .copyright {
    @include text($font, 400, 16px, 19px, $color-white);
    span {
      color: $color-primary;
    }
    @include mobile {
      font-size: 14px;
    }
  }

  .links {
    display: flex;
    gap: 34px;

    &__a {
      @include text($font, 400, 16px, 19px, $color-white);
      transition: $transition;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
