.pricing {
  margin-top: 90px;
  margin-bottom: 90px;
  &__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background: $color-dark2;
    border-radius: 8px;
    padding: 32px;
  }

  &__btn {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.item {
  &__title {
    @include text($font, 500, 16px, 19px, $color-white);
    margin-bottom: 14px;
  }
  &__price {
    @include text($font, 500, 44px, 52px, $color-white);
    margin-bottom: 14px;
  }
  &__desc {
    @include text($font, 400, 14px, 22px, $color-desc);
    margin-bottom: 35px;
  }
}
.btn-secondary {
  padding: 13px 18px;
  display: inline-block;
  border: 1px solid $color-primary;
  @include text($font, 500, 16px, 19px, $color-white);
  background: $color-dark2;
  border-radius: $radius-btn;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background: lighten($color-dark2, 10%);
  }
}
.points {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-bottom: 16.5px;

  &__icon {
    span {
      width: 24px;
      height: 24px;
    }
  }
  &__info {
    @include text($font, 400, 16px, 19px, $color-gray);
  }
}
